
body {
  width: 100%;
  margin:auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  flex: 100%;
  flex-basis: auto;
}

header h1 {
  text-align: center;
  font: 
}

.flex-container {
  width: 100%;
  margin:auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#beschreibung {
  flex:1 20%;
}

#map {
  flex: 3;
  border: 3px solid black;
}


 
nav {
  height: 2em;
  padding: 0.8em;
  background-color: black;
  border: 1px solid black;
}

nav a, nav span {
  background-color: blue;
  padding: 0.4em;
  display: block;
  width: 8em;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
nav li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
}

nav ul ul {
  margin: 0; 
  padding: 0;
  position: absolute;
  top: 2.2em; 
  font: 0/0 serif;/* Unternavigation ausblenden */
  z-index: -1;
}

nav ul ul li {
  float: none;
}
 
nav ul li:hover ul {
  font: inherit;
  z-index: auto;   /*  Unternavigation einblenden */
}

/*
#map {
  flex: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  }*/

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #333;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel {
  background-color: #333;
  border: 1px solid #999;
  left: 89%;
  right: 0.5%;
  padding: 5px;
  position: absolute;
  top: 90px;
  z-index: 5;
}

button {
  background-color: #111;
  color: white;
}

#wordFD {
  color:white;
  opacity: 0.9;
  display: none;
  background-color: white;
        border: 1px solid #999;
        left: 0.5%;
        padding: 5px;
        position: absolute;
        top: 120px;
        z-index: 6;
}