@font-face { font-family: grobeDeutschmeister; src: url(GrobeDeutschmeister.ttf); }
@font-face { font-family: UrbanJungle; src: url(UrbanJungle.otf); }
@font-face { font-family: Caecilia; src: url(CaeciliaLTStd-Bold.otf); }

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  margin:0;
  padding: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2em;
  flex: 5%;
  padding: 0.2em;
  background-color: #1E2426;
  font-size: 41px;
  color: red;
}

#inhalt, #layername, #erklaerung, .menu{
  font-family: Caecilia;
}

#titel, #untertitel {
  font-family: UrbanJungle;
}

#untertitel {
  font-size: 21px;
}

header div {
  margin-top: auto;
  margin-bottom: auto;
}

#inhalt {
  color: white;
  margin-left: 1%;
}

#layername {
  font-size: 30px;
}

#inhalt, #erklaerung {
  font-size: 20px;
}

#titel {
  margin: auto;
  text-align: center;
}

#erklaerung {
  color: white;
  margin-right: 1%;
}

.flex-container {
  flex: 80%;
  width: 100%;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#map {
  height: 100%;
}

#wrapper { 
  height: 100%;
  position: relative;
}

#over_map {
  position: absolute;
  height: 25em;
  width: 20em;
  background-color: white;
  top: 15%;
  left: 0.8%;
  z-index: 99;

}

#menu-overlay {
  top: 0;
  left: 0;
  position: relative;

}

/*Burger Menu Test*/

.hamburger{
  margin-left: 1%;
  height: 5em;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  margin-left: 1%;
  height: 5em;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-size:1.5em; width:20%; background:#1E2426; border-top: rgba(255,255,255,0.1) 1px solid; position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:red;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
